.bg {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: flex-end;
    height: 100vh;

    background: url("./../../assets/bg.jpg") center no-repeat;
    background-size: cover;
}

.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-content: center center;

    margin: 0 50px;
    padding: 0;

    border-bottom: 1px solid #f1f1f1;
}

.navLink {
    padding: 40px 30px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #f1f1f1;

    cursor: pointer;
}

.navLink:hover {
    color: #dddddd;
}

.text {
    margin:0;
    padding: 0;

    text-align: center;
    text-transform: uppercase;

    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 18px;

    color: #f1f1f1;
}

.content {
    display: grid;
    place-items: center;
    
    user-select: none;
    
    grid-gap: 25px;
    padding-bottom: 50px;
}